<!-- Eric: This is the button for the a-websocket component -->
<!-- I'm not sure if this is in the ideal location -->
<button {{action 'sendButtonPressed'}} class="btn btn-block btn-primary">
  WebSocket Submit
</button>

<p>Your email: {{this.email}}</p>

{{yield}}
